@use 'sass:map';

@import '../../assets/colors.scss';

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;

  &-form {
    width: 450px;

    &-button {
      border: none;
      border-radius: 10px;
      padding: 10px 35px;
      font-size: 20px;
      color: map-get($map: $colors, $key: white);
      background-color: map-get($map: $colors, $key: primary);
    }

    &-error {
      color: map-get($map: $colors, $key: error);
    }
  }
}
