@use 'sass:map';

@import '../assets/colors.scss';

.productCard {
  &-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    padding: 15px;
    border: 1px solid map-get($map: $colors, $key: secondary);
  }

  &-favorites {
    display: flex;
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: map-get($map: $colors, $key: primary);
    font-size: 25px;

    &:hover {
      top: 8px;
      right: 8px;
      width: 29px;
      height: 29px;
      font-size: 29px;
    }
  }

  a {
    color: map-get($map: $colors, $key: black);
    text-decoration: none;
  }

  &-image {
    img {
      width: 100%;
    }
  }

  &-name {
    margin-top: 10px;
    flex: 1 0 auto;

    &:hover {
      color: map-get($map: $colors, $key: primary);
    }
  }

  &-name,
  &-price {
    display: block;
    text-align: center;
  }

  &-price {
    margin-top: 25px;
    font-weight: 600;
    font-size: 20px;
  }

  &-counter {
    display: flex;
    height: 45px;
    margin-top: 15px;
    border: 1px solid map-get($map: $colors, $key: secondary);

    &-count {
      display: block;
      width: calc(100% - 90px);
      text-align: center;
      font-size: 24px;
      line-height: 46px;
      border: none;
      outline: none;
    }

    &-decrement,
    &-increment {
      display: block;
      width: 45px;
      height: 45px;
      padding: 0;
      border: none;
      font-size: 25px;
      color: map-get($map: $colors, $key: black);
    }
  }

  &-addToCart {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    border: none;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    background-color: map-get($map: $colors, $key: primary);
    color: map-get($map: $colors, $key: white);
  }
}
