@use 'sass:map';

@import '../../assets/colors.scss';

.profile {
  flex: 1 1 auto;

  &-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 36px;
  }
  &-navigation {
    .navbar {
      align-items: start;
      padding: 0;
      &-nav {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;

        &-link {
          font-size: 18px;
          margin-bottom: 10px;

          &.active {
            color: map-get($map: $colors, $key: primary);
          }
        }

        &-icon {
          font-size: 25px;
        }
      }
    }

    &-logout {
      display: flex;
      margin: 0;
      margin-top: 25px;
      padding: 0;
      border: none;
      background: none;
      font-size: 18px;
      color: map-get($map: $colors, $key: black);

      &:hover {
        color: map-get($map: $colors, $key: primary);
      }
    }
  }

  &-info {
    &-title {
      font-size: 24px;
    }

    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-item {
      width: calc((100% - 15px) / 2);
      margin-bottom: 10px;
    }

    &-controls {
      display: flex;
      justify-content: flex-end;

      &-save,
      &-cancel {
        padding: 15px;
        font-size: 20px;
        border: none;
        border-radius: 15px;
      }

      &-save {
        padding-left: 35px;
        padding-right: 35px;
        color: map-get($map: $colors, $key: white);
        background-color: map-get($map: $colors, $key: primary);
        margin-right: 15px;
      }

      &-cancel {
        padding-left: 25px;
        padding-right: 25px;
        background-color: map-get($map: $colors, $key: secondary);
      }
    }
  }

  &-orders {
    &-title {
      font-size: 24px;
    }

    &-item {
      margin-bottom: 15px;
      border: 1px solid map-get($map: $colors, $key: secondary);

      &-header {
        padding: 0;

        .row {
          margin: 0;
        }

        .row > * {
          padding: 0;
        }
      }

      &-number {
        font-weight: 400;
        font-size: 24px;
        color: map-get($map: $colors, $key: black);

        span {
          display: flex;
        }
      }

      &-date {
        display: flex;
        align-items: end;
        margin-left: 10px;
        margin-bottom: 3px;
        font-weight: 400;
        font-size: 16px;
        color: map-get($map: $colors, $key: secondary-dark);
      }

      &-status {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 16px;

        .status {
          padding: 3px 25px;
          border-radius: 15px;

          &.created {
            color: map-get($map: $colors, $key: background-dark);
            background-color: map-get($map: $colors, $key: secondary);
          }

          &.in-delivery {
            color: map-get($map: $colors, $key: white);
            background-color: map-get($map: $colors, $key: primary);
          }

          &.pending-in-store {
            color: map-get($map: $colors, $key: white);
            background-color: map-get($map: $colors, $key: primary);
          }

          &.completed {
            color: map-get($map: $colors, $key: white);
            background-color: map-get($map: $colors, $key: green);
          }
        }
      }

      &-count {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 18px;
        color: map-get($map: $colors, $key: black);
      }

      &-price {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 600;
        font-size: 22px;
        color: map-get($map: $colors, $key: black);
      }

      &-product {
        margin-bottom: 15px;

        &:last-child {
          margin: 0;
        }

        .row {
          margin: 0;
        }

        .row > * {
          padding: 0;
        }

        &-content {
          display: flex;
          height: 100px;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }

        &-info {
          display: flex;
          height: 100%;
        }

        &-image {
          display: block;
          height: 100%;
          width: max-content;
          img {
            height: 100%;
          }
        }

        &-name {
          display: flex;
          align-items: center;
          width: 350px;
          margin-left: 25px;
          color: map-get($map: $colors, $key: black);
          text-decoration: none;
          text-align: left;

          &:hover {
            color: map-get($map: $colors, $key: primary);
          }
        }

        &-count {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &-price {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
  }
}

.accordion {
  &-header {
  }
  &-button {
    &::after {
      content: none;
    }

    &:focus {
      border: none;
      box-shadow: none;
    }

    &:not(.collapsed) {
      border-bottom: 1px solid map-get($map: $colors, $key: secondary);
      color: map-get($map: $colors, $key: black);
      background: none;
      box-shadow: none;
    }
  }
}
