$colors: (
  primary: #ef8b41,
  primary-dark: #d87024,
  secondary: #e0e0e2,
  secondary-light: #f1f1f1,
  secondary-dark: #b5b3b3,
  background-dark: #292825,
  black: #000000,
  white: #fff,
  green: #25860d,
  error: #c70a0a,
);
