@use 'sass:map';

@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import '../src/components/assets/colors.scss';

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

#root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  &-container {
    flex: 1 1 auto;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  svg,
  circle {
    stroke: map-get($map: $colors, $key: primary);
  }
}
.path {
  background-color: map-get($map: $colors, $key: secondary-light);
}
.breadcrumb {
  margin: 0;
  height: 55px;
  align-items: center;

  &-item {
    a {
      color: map-get($map: $colors, $key: black);
      text-decoration: none;

      &:hover {
        color: map-get($map: $colors, $key: primary);
        text-decoration: underline;
      }
    }
  }
}
